## REDCap Data Merge

Duplicate Record: 'internal id': 70090, 'external id': bdyP3M

In [9]:
import os, pandas as pd, numpy as np
from functools import reduce
pd.set_option('display.max_columns', 100)

#NOTE TO SELF: redo the relative paths.
redcap = '/home/wraikes/Dropbox/partnership/DMTdata_9_8_17/redcap'

In [10]:
os.chdir(redcap)  

block1 = pd.read_csv('REDCap Block 1_Merged_9.8.17.csv')
block2 = pd.read_csv('REDCap Block 2_Merged_9.8.17.csv')

dfs = [block1, block2]

In [11]:
#bdyP3M
test_users = [
    'ThpMV2Achc', 
    'SEkQVTCe6j', 
    'Wh8NSX3DHL', 
    'SaXFr2kPZa', 
    'VWUcSp4TeH', 
    'yXEfAmW682', 
    'gwEpQR8j9B',
    'WbbNWM4RAF', 
    'D5bzYrfd8E', 
    'LJcmEFWp74', 
    'ULoF3MM1nN']

diff_study = [
    'rL8eA3',
    'rLg5xs',
    'rLrD9h',
    'rLP7H2',
    'rL6s6h',
    'aOyzBg',
    'aORA43',
    'aOh48U',
    'aOLu4K',
    'aOQtxv',
    'aO5TvQ',
    'mPC9S8',
    'mPgquX',
    'mP5xkB',
    'mPSQvh',
    'mPYk2p',
    'mP3rbd'
]

block1[block1['external_id'].isin(test_users + diff_study)][['internal_id', 'external_id']]

Empty DataFrame
Columns: [internal_id, external_id]
Index: []

In [12]:
def column_relabel(df, append, col_name):
    
    '''A function to relabel the columns
    with the df name appended to each 
    column name.'''
    
    new_cols = []
    for col in df.columns:
        if col != col_name:
            new_col = append + col
            new_cols.append(new_col)
        else:
            new_cols.append(col)
    
    return new_cols

def remove_dupes(df):
    
    test_users = [
        'ThpMV2Achc', 
        'SEkQVTCe6j', 
        'Wh8NSX3DHL', 
        'SaXFr2kPZa', 
        'VWUcSp4TeH', 
        'yXEfAmW682', 
        'gwEpQR8j9B',
        'WbbNWM4RAF', 
        'D5bzYrfd8E', 
        'LJcmEFWp74', 
        'ULoF3MM1nN']

    diff_study = [
        'rL8eA3',
        'rLg5xs',
        'rLrD9h',
        'rLP7H2',
        'rL6s6h',
        'aOyzBg',
        'aORA43',
        'aOh48U',
        'aOLu4K',
        'aOQtxv',
        'aO5TvQ',
        'mPC9S8',
        'mPgquX',
        'mP5xkB',
        'mPSQvh',
        'mPYk2p',
        'mP3rbd'
    ]
    
    return df[~df['external_id'].isin(test_users + diff_study)] 

def new_dfs(_dfs, _names, _id):
    
    new_df = []
    
    for df, name in zip(_dfs, _names):
        df = remove_dupes(df)
        df.columns = column_relabel(df, name, _id)
        new_df.append(df)

    return new_df

In [13]:
#Relabel the columns.
names = ['REDCAP_block1_-_', 'REDCAP_block2_-_']

clean_dfs = new_dfs(dfs, names, 'internal_id')

In [15]:
#Merge the two block datasets.
block_merge = pd.merge(clean_dfs[0], clean_dfs[1], how = 'outer', on='internal_id')

### Test DF Accuracy

In [17]:
len(block_merge['internal_id']) == len(block_merge['internal_id'].unique()) and block_merge.shape[0] > 0

True

In [18]:
block_merge.shape

(110, 593)

In [20]:
block_merge.head(20)

,internal_id,REDCAP_block1_-_external_id,REDCAP_block1_-_pid_complete,REDCAP_block1_-_bis15_timestamp,REDCAP_block1_-_bis1,REDCAP_block1_-_bis2,REDCAP_block1_-_bis3,REDCAP_block1_-_bis4,REDCAP_block1_-_bis5,REDCAP_block1_-_bis6,REDCAP_block1_-_bis7,REDCAP_block1_-_bis8,REDCAP_block1_-_bis9,REDCAP_block1_-_bis10,REDCAP_block1_-_bis11,REDCAP_block1_-_bis12,REDCAP_block1_-_bis13,REDCAP_block1_-_bis14,REDCAP_block1_-_bis15,REDCAP_block1_-_bis15_complete,REDCAP_block1_-_upps_timestamp,REDCAP_block1_-_upps1,REDCAP_block1_-_upps2,REDCAP_block1_-_upps3,REDCAP_block1_-_upps4,REDCAP_block1_-_upps5,REDCAP_block1_-_upps6,REDCAP_block1_-_upps7,REDCAP_block1_-_upps8,REDCAP_block1_-_upps9,REDCAP_block1_-_upps10,REDCAP_block1_-_upps11,REDCAP_block1_-_upps12,REDCAP_block1_-_upps13,REDCAP_block1_-_upps14,REDCAP_block1_-_upps15,REDCAP_block1_-_upps16,REDCAP_block1_-_upps17,REDCAP_block1_-_upps18,REDCAP_block1_-_upps19,REDCAP_block1_-_upps20,REDCAP_block1_-_upps21,REDCAP_block1_-_upps22,REDCAP_block1_-_upps23,REDCAP_block1_-_upps24,REDCAP_block1_-_upps25,REDCAP_block1_-_upps26,REDCAP_block1_-_upps27,REDCAP_block1_-_upps28,REDCAP_block1_-_upps29,...,REDCAP_block2_-_brief75,REDCAP_block2_-_briefa_complete,REDCAP_block2_-_bfi10_timestamp,REDCAP_block2_-_bfi1,REDCAP_block2_-_bfi2,REDCAP_block2_-_bfi3,REDCAP_block2_-_bfi4,REDCAP_block2_-_bfi5,REDCAP_block2_-_bfi6,REDCAP_block2_-_bfi7,REDCAP_block2_-_bfi8,REDCAP_block2_-_bfi9,REDCAP_block2_-_bfi10,REDCAP_block2_-_bfi10_complete,REDCAP_block2_-_demographic_questionnaire_timestamp,REDCAP_block2_-_dob,REDCAP_block2_-_gender,REDCAP_block2_-_education,REDCAP_block2_-_employment___1,REDCAP_block2_-_employment___2,REDCAP_block2_-_employment___3,REDCAP_block2_-_employment___4,REDCAP_block2_-_employment___5,REDCAP_block2_-_employment___6,REDCAP_block2_-_employment___7,REDCAP_block2_-_employment___8,REDCAP_block2_-_employment___9,REDCAP_block2_-_employment___10,REDCAP_block2_-_income___1,REDCAP_block2_-_income___2,REDCAP_block2_-_income___3,REDCAP_block2_-_income___4,REDCAP_block2_-_income___5,REDCAP_block2_-_income___6,REDCAP_block2_-_income___7,REDCAP_block2_-_income___8,REDCAP_block2_-_income___9,REDCAP_block2_-_income___10,REDCAP_block2_-_income___11,REDCAP_block2_-_hispanic,REDCAP_block2_-_race,REDCAP_block2_-_relationship,REDCAP_block2_-_address,REDCAP_block2_-_address_months,REDCAP_block2_-_address_years,REDCAP_block2_-_marital_living,REDCAP_block2_-_height,REDCAP_block2_-_weight,REDCAP_block2_-_bmi,REDCAP_block2_-_demographic_questionnaire_complete
0,70001,NaN,2,4/3/2017 13:09,1,2,1,2,2,4,4,3,3,3,1,1,3,1,2,2,4/3/2017 13:11,2,3,2,2,2,3,2,2,3,3,3,2,2,3,3,3,2,2,3,2,3,2,2,3,2,1,2,3,3,...,1,2,4/3/2017 14:05,5,4,4,4,4,3,2,4,5,5,2,4/3/2017 14:06,1990,2,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,3,2,NaN,13,2,64,115,19.737549,2
1,70002,muUF5U,2,4/4/2017 14:59,3,2,1,1,3,4,4,3,4,3,2,2,4,2,1,2,4/4/2017 15:03,3,2,2,1,1,1,2,4,3,3,1,1,2,2,3,1,3,4,1,1,2,1,1,3,1,1,1,4,4,...,1,2,4/4/2017 16:32,1,3,1,5,4,5,2,4,1,3,2,4/4/2017 16:33,1992,1,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,5,1,2,NaN,3,1,75,230,28.744889,2
2,70003,jAzB2f,2,4/12/2017 11:10,3,1,2,2,1,4,4,4,3,3,2,1,2,2,2,2,4/12/2017 11:14,2,2,2,1,2,2,2,3,3,2,2,2,2,2,3,2,1,2,3,3,2,2,1,2,3,4,2,2,4,...,2,2,4/12/2017 13:00,5,5,3,1,2,3,2,3,5,4,2,4/12/2017 13:01,1991,2,9,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2,7,1,2,NaN,26,2,66,122,19.689164,2
3,70004,NaN,2,4/18/2017 17:43,1,1,1,1,2,4,4,3,3,4,2,1,4,1,2,2,4/18/2017 17:47,1,4,2,1,1,1,1,3,1,4,1,1,1,2,3,2,2,2,3,1,3,2,1,4,2,2,1,4,1,...,1,2,4/18/2017 19:04,4,2,4,4,4,4,4,4,4,4,2,4/18/2017 19:06,1989,1,8,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,2,1,2,NaN,17,2,65,275,45.757396,2
4,70005,Eaw6e8,2,4/11/2017 15:08,2,2,1,1,2,4,4,4,3,4,2,1,3,1,1,2,4/11/2017 15:12,2,4,1,1,1,3,1,4,1,4,1,1,2,4,2,2,2,3,2,2,2,1,NaN,4,NaN,1,2,NaN,4,...,1,2,4/11/2017 16:04,4,5,3,4,5,4,1,5,3,2,2,4/11/2017 16:05,1992,2,8,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,1,1,9,NaN,1,66,175,28.242654,2
5,70006,M9jgRT,2,4/13/2017 15:12,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4/13/2017 15:17,3,4,1,1,1,3,2,3,3,3,2,2,2,3,1,2,NaN,2,1,1,1,1,1,3,1,2,2,3,1,...,2,2,4/13/2017 16:28,2,4,4,4,4,4,2,4,2,4,2,4/13/2017 16:30,1989,1,8,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,4,1,2,NaN,5,2,60,160,31.244444,2
6,70007,NaN,2,4/25/2017 9:26,2,2,2,2,1,1,4,3,3,4,4,3,2,3,2,2,4/25/2017 9:31,3,4,2,1,1,3,4,4,2,2,3,2,1,4,1,3,3,3,2,3,3,2,2,4,2,2,1,4,1,...,1,2,4/25/2017 11:09,4,4,2,5,2,4,NaN,4,2,5,2,4/25/2017 11:10,1991,1,9,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,2,2,2,2,NaN,20,1,70,145,20.803061,2
7,70008,E5eSWq,2,5/8/2017 15:09,2,2,2,2,2,4,4,4,4,3,2,1,3,2,1,2,5/8/2017 15:16,3,4,1,1,2,3,2,3,1,4,2,2,1,4,4,2,2,4,2,2,2,2,2,4,1,2,2,4,2,...,2,2,5/8/2017 17:11,2,4,1,5,1,5,1,4,2,5,2,5/8/2017 17:14,1954,2,8,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,2,2,NaN,24,1,63,170,30.110859,2
8,70009,cvC2Ka,2,4/27/2017 17:27,2,2,1,1,2,3,3,3,3,3,1,2,4,2,1,2,4/27/2017 17:30,2,3,1,3,1,3,2,4,3,4,3,3,2,4,2,1,4,3,3,1,2,4,1,3,2,4,1,4,1,...,2,2,4/27/2017 19:14,3,3,3,3,1,4,2,2,2,5,2,4/27/2017 19:15,1956,1,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,2,2,NaN,5,1,74,203,26.060811,2
9,70010,NaN,2,5/3/2017 11:16,2,2,1,2,2,3,4,4,4,4,2,2,3,1,1,2,5/3/2017 11:21,2,4,2,1,1,1,3,2,2,3,3,1,1,3,3,2,2,2,4,3,4,2,1,2,3,2,1,3,4,...,2,2,5/3/2017 12:33,4,4,2,2,2,4,4,4,2,2,2,5/3/2017 12:35,1955,2,8,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,2,7,2,2,NaN,33,1,64,125,21.453857,2
10,70011,NaN,2,5/3/2017 9:11,1,2,2,2,2,4,3,4,4,4,1,1,3,2,2,2,5/3/2017 9:15,1,3,2,2,2,1,3,3,2,3,3,1,2,2,1,1,2,2,4,2,4,1,2,3,3,2,1,3,3,...,1,2,5/3/2017 10:54,5,3,2,3,4,1,4,5,2,2,2,5/3/2017 10:56,1953,2,8,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,1,2,NaN,29,2,67,275,43.066384,2
11,70012,NaN,2,5/11/2017 17:04,2,2,1,1,1,3,3,3,3,3,1,1,4,1,1,2,5/11/2017 17:09,3,4,1,1,2,3,3,4,1,4,2,1,2,4,1,1,3,4,2,1,3,1,2,4,2,1,2,4,4,...,1,2,5/11/2017 18:51,4,5,2,5,2,4,2,5,1,NaN,2,5/11/2017 18:52,NaN,2,9,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,2,2,NaN,33,1,62,135,24.689126,2
12,70013,NaN,2,4/27/2017 15:13,2,2,2,3,3,4,3,4,2,2,3,3,1,3,3,2,4/27/2017 15:20,3,2,3,2,3,1,2,3,3,2,2,3,3,3,2,2,3,3,3,4,3,3,2,3,3,3,4,2,NaN,...,2,2,4/27/2017 17:11,2,5,3,4,4,4,3,4,4,2,2,4/27/2017 17:12,1955,2,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,2,2,NaN,4,1,64,143,24.543213,2
13,70014,ksJM3Y,2,6/8/2017 14:41,1,2,2,2,1,3,4,4,3,3,3,3,2,3,2,2,6/8/2017 14:43,1,4,3,2,2,4,3,3,1,3,2,2,2,4,1,2,2,2,3,3,1,2,1,3,2,1,1,4,2,...,NaN,0,6/8/2017 16:19,5,5,4,4,3,2,3,4,2,3,2,6/8/2017 16:19,1990,1,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,3,1,1,NaN,1,74,190,24.391892,2
14,70015,gSWn9N,2,6/1/2017 15:45,1,2,2,3,2,4,4,4,4,4,2,2,3,2,2,2,6/1/2017 15:49,1,3,2,2,2,3,4,3,3,4,2,3,1,2,1,1,2,3,3,2,2,2,1,4,2,1,2,3,4,...,NaN,0,6/1/2017 17:23,4,5,2,4,3,4,2,5,4,5,2,6/1/2017 17:24,1986,2,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,1,2,NaN,3,2,62,135,24.689126,2
15,70017,4chdWY,2,6/6/2017 13:02,2,2,1,1,1,3,3,3,4,4,1,1,3,1,1,2,6/6/2017 13:09,2,3,1,2,2,3,1,3,1,4,2,2,2,3,1,3,3,3,2,2,2,2,1,3,1,2,2,3,1,...,NaN,0,6/6/2017 15:08,2,5,2,4,1,5,2,5,4,5,2,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16,70018,uS9Yn3,2,6/2/2017 14:12,2,2,2,2,2,4,4,3,3,3,2,2,3,2,2,2,6/2/2017 14:16,2,3,2,1,1,3,1,4,1,4,3,1,1,4,1,2,1,4,3,2,2,1,1,3,2,2,1,3,3,...,NaN,0,6/2/2017 15:28,3,4,2,2,2,4,2,4,4,4,2,6/2/2017 15:29,1988,2,10,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,2,7,2,1,6,NaN,1,63,128,22.671706,2
17,70019,tKr2P3,2,6/14/2017 15:15,1,2,1,2,2,4,4,3,4,4,2,2,3,2,2,2,6/14/2017 15:22,1,3,2,1,1,3,2,4,2,2,3,1,1,3,2,1,1,3,3,2,3,2,1,3,2,3,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,70021,GpRu74,2,6/1/2017 16:21,2,2,1,1,1,3,3,3,3,3,1,1,3,1,1,2,6/1/2017 16:25,3,3,2,1,2,3,2,4,1,3,2,1,2,4,3,2,1,4,4,2,3,1,2,3,2,1,1,4,1,...,NaN,0,6/1/2017 18:16,4,5,1,3,4,5,2,5,4,4,2,6/1/2017 18:18,1984,1,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,2,2,NaN,5,1,72,200,27.121914,2
19,70022,Dwr9Wq,2,6/5/2017 9:05,1,1,1,2,2,4,3,4,3,3,2,2,2,2,2,2,6/5/2017 9:08,2,3,2,1,1,1,1,3,3,2,2,2,2,2,2,1,2,2,2,3,2,2,2,3,2,2,2,2,3,...,NaN,0,6/5/2017 10:12,5,5,2,5,4,5,3,5,5,5,2,6/5/2017 10:13,1984,1,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,3,1,2,NaN,30,2,65,198,32.945325,2

In [21]:
os.chdir('/home/wraikes/Programming/Partnership/dmt/merged_data/')
block_merge.to_csv('FINAL_REDCAP.csv')

In [30]:
for col in block_merge.columns:
    if 'upps' in col:
        print(col)

REDCAP_block1_-_upps_timestamp
REDCAP_block1_-_upps1
REDCAP_block1_-_upps2
REDCAP_block1_-_upps3
REDCAP_block1_-_upps4
REDCAP_block1_-_upps5
REDCAP_block1_-_upps6
REDCAP_block1_-_upps7
REDCAP_block1_-_upps8
REDCAP_block1_-_upps9
REDCAP_block1_-_upps10
REDCAP_block1_-_upps11
REDCAP_block1_-_upps12
REDCAP_block1_-_upps13
REDCAP_block1_-_upps14
REDCAP_block1_-_upps15
REDCAP_block1_-_upps16
REDCAP_block1_-_upps17
REDCAP_block1_-_upps18
REDCAP_block1_-_upps19
REDCAP_block1_-_upps20
REDCAP_block1_-_upps21
REDCAP_block1_-_upps22
REDCAP_block1_-_upps23
REDCAP_block1_-_upps24
REDCAP_block1_-_upps25
REDCAP_block1_-_upps26
REDCAP_block1_-_upps27
REDCAP_block1_-_upps28
REDCAP_block1_-_upps29
REDCAP_block1_-_upps30
REDCAP_block1_-_upps31
REDCAP_block1_-_upps32
REDCAP_block1_-_upps33
REDCAP_block1_-_upps34
REDCAP_block1_-_upps35
REDCAP_block1_-_upps36
REDCAP_block1_-_upps37
REDCAP_block1_-_upps38
REDCAP_block1_-_upps39
REDCAP_block1_-_upps40
REDCAP_block1_-_upps41
REDCAP_block1_-_upps42
REDCAP_block1_-_upps43
REDCAP_block1_-_upps44
REDCAP_block1_-_upps45
REDCAP_block1_-_upps_complete