## REDCap Data Merge

Duplicate Record: 'internal id': 70090, 'external id': bdyP3M

In [1]:
import os, pandas as pd, numpy as np
from functools import reduce
pd.set_option('display.max_columns', 100)

#NOTE TO SELF: redo the relative paths.
redcap = '/home/wraikes/Dropbox/partnership/DMTdata_9_8_17/redcap'

In [2]:
os.chdir(redcap)  

block1 = pd.read_csv('REDCap Block 1_Merged_9.8.17.csv')
block2 = pd.read_csv('REDCap Block 2_Merged_9.8.17.csv')

dfs = [block1, block2]

In [3]:
#bdyP3M
test_users = [
    'ThpMV2Achc', 
    'SEkQVTCe6j', 
    'Wh8NSX3DHL', 
    'SaXFr2kPZa', 
    'VWUcSp4TeH', 
    'yXEfAmW682', 
    'gwEpQR8j9B',
    'WbbNWM4RAF', 
    'D5bzYrfd8E', 
    'LJcmEFWp74', 
    'ULoF3MM1nN']

diff_study = [
    'rL8eA3',
    'rLg5xs',
    'rLrD9h',
    'rLP7H2',
    'rL6s6h',
    'aOyzBg',
    'aORA43',
    'aOh48U',
    'aOLu4K',
    'aOQtxv',
    'aO5TvQ',
    'mPC9S8',
    'mPgquX',
    'mP5xkB',
    'mPSQvh',
    'mPYk2p',
    'mP3rbd'
]

block1[block1['external_id'].isin(test_users + diff_study)][['internal_id', 'external_id']]

Empty DataFrame
Columns: [internal_id, external_id]
Index: []

In [4]:
def column_relabel(df, append, col_name):
    
    '''A function to relabel the columns
    with the df name appended to each 
    column name.'''
    
    new_cols = []
    for col in df.columns:
        if col != col_name:
            new_col = append + col
            new_cols.append(new_col)
        else:
            new_cols.append(col)
    
    return new_cols

def remove_dupes(df):
    
    test_users = [
        'ThpMV2Achc', 
        'SEkQVTCe6j', 
        'Wh8NSX3DHL', 
        'SaXFr2kPZa', 
        'VWUcSp4TeH', 
        'yXEfAmW682', 
        'gwEpQR8j9B',
        'WbbNWM4RAF', 
        'D5bzYrfd8E', 
        'LJcmEFWp74', 
        'ULoF3MM1nN']

    diff_study = [
        'rL8eA3',
        'rLg5xs',
        'rLrD9h',
        'rLP7H2',
        'rL6s6h',
        'aOyzBg',
        'aORA43',
        'aOh48U',
        'aOLu4K',
        'aOQtxv',
        'aO5TvQ',
        'mPC9S8',
        'mPgquX',
        'mP5xkB',
        'mPSQvh',
        'mPYk2p',
        'mP3rbd'
    ]
    
    return df[~df['external_id'].isin(test_users + diff_study)] 

def new_dfs(_dfs, _names, _id):
    
    new_df = []
    
    for df, name in zip(_dfs, _names):
        df = remove_dupes(df)
        df.columns = column_relabel(df, name, _id)
        new_df.append(df)

    return new_df

In [5]:
#Relabel the columns.
names = ['REDCAP_block1_-_', 'REDCAP_block2_-_']

clean_dfs = new_dfs(dfs, names, 'internal_id')

In [6]:
#Merge the two block datasets.
block_merge = pd.merge(clean_dfs[0], clean_dfs[1], how = 'outer', on='internal_id')

### Test DF Accuracy

In [7]:
len(block_merge['internal_id']) == len(block_merge['internal_id'].unique()) and block_merge.shape[0] > 0

True

In [8]:
block_merge.shape

(110, 593)

In [9]:
block_merge.head(20)

,internal_id,REDCAP_block1_-_external_id,REDCAP_block1_-_pid_complete,REDCAP_block1_-_bis15_timestamp,REDCAP_block1_-_bis1,REDCAP_block1_-_bis2,REDCAP_block1_-_bis3,REDCAP_block1_-_bis4,REDCAP_block1_-_bis5,REDCAP_block1_-_bis6,REDCAP_block1_-_bis7,REDCAP_block1_-_bis8,REDCAP_block1_-_bis9,REDCAP_block1_-_bis10,REDCAP_block1_-_bis11,REDCAP_block1_-_bis12,REDCAP_block1_-_bis13,REDCAP_block1_-_bis14,REDCAP_block1_-_bis15,REDCAP_block1_-_bis15_complete,REDCAP_block1_-_upps_timestamp,REDCAP_block1_-_upps1,REDCAP_block1_-_upps2,REDCAP_block1_-_upps3,REDCAP_block1_-_upps4,REDCAP_block1_-_upps5,REDCAP_block1_-_upps6,REDCAP_block1_-_upps7,REDCAP_block1_-_upps8,REDCAP_block1_-_upps9,REDCAP_block1_-_upps10,REDCAP_block1_-_upps11,REDCAP_block1_-_upps12,REDCAP_block1_-_upps13,REDCAP_block1_-_upps14,REDCAP_block1_-_upps15,REDCAP_block1_-_upps16,REDCAP_block1_-_upps17,REDCAP_block1_-_upps18,REDCAP_block1_-_upps19,REDCAP_block1_-_upps20,REDCAP_block1_-_upps21,REDCAP_block1_-_upps22,REDCAP_block1_-_upps23,REDCAP_block1_-_upps24,REDCAP_block1_-_upps25,REDCAP_block1_-_upps26,REDCAP_block1_-_upps27,REDCAP_block1_-_upps28,REDCAP_block1_-_upps29,...,REDCAP_block2_-_brief75,REDCAP_block2_-_briefa_complete,REDCAP_block2_-_bfi10_timestamp,REDCAP_block2_-_bfi1,REDCAP_block2_-_bfi2,REDCAP_block2_-_bfi3,REDCAP_block2_-_bfi4,REDCAP_block2_-_bfi5,REDCAP_block2_-_bfi6,REDCAP_block2_-_bfi7,REDCAP_block2_-_bfi8,REDCAP_block2_-_bfi9,REDCAP_block2_-_bfi10,REDCAP_block2_-_bfi10_complete,REDCAP_block2_-_demographic_questionnaire_timestamp,REDCAP_block2_-_dob,REDCAP_block2_-_gender,REDCAP_block2_-_education,REDCAP_block2_-_employment___1,REDCAP_block2_-_employment___2,REDCAP_block2_-_employment___3,REDCAP_block2_-_employment___4,REDCAP_block2_-_employment___5,REDCAP_block2_-_employment___6,REDCAP_block2_-_employment___7,REDCAP_block2_-_employment___8,REDCAP_block2_-_employment___9,REDCAP_block2_-_employment___10,REDCAP_block2_-_income___1,REDCAP_block2_-_income___2,REDCAP_block2_-_income___3,REDCAP_block2_-_income___4,REDCAP_block2_-_income___5,REDCAP_block2_-_income___6,REDCAP_block2_-_income___7,REDCAP_block2_-_income___8,REDCAP_block2_-_income___9,REDCAP_block2_-_income___10,REDCAP_block2_-_income___11,REDCAP_block2_-_hispanic,REDCAP_block2_-_race,REDCAP_block2_-_relationship,REDCAP_block2_-_address,REDCAP_block2_-_address_months,REDCAP_block2_-_address_years,REDCAP_block2_-_marital_living,REDCAP_block2_-_height,REDCAP_block2_-_weight,REDCAP_block2_-_bmi,REDCAP_block2_-_demographic_questionnaire_complete
0,70001,NaN,2,4/3/2017 13:09,1,2,1,2,2,4,4,3,3,3,1,1,3,1,2,2,4/3/2017 13:11,2,3,2,2,2,3,2,2,3,3,3,2,2,3,3,3,2,2,3,2,3,2,2,3,2,1,2,3,3,...,1,2,4/3/2017 14:05,5,4,4,4,4,3,2,4,5,5,2,4/3/2017 14:06,1990,2,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,3,2,NaN,13,2,64,115,19.737549,2
1,70002,muUF5U,2,4/4/2017 14:59,3,2,1,1,3,4,4,3,4,3,2,2,4,2,1,2,4/4/2017 15:03,3,2,2,1,1,1,2,4,3,3,1,1,2,2,3,1,3,4,1,1,2,1,1,3,1,1,1,4,4,...,1,2,4/4/2017 16:32,1,3,1,5,4,5,2,4,1,3,2,4/4/2017 16:33,1992,1,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,5,1,2,NaN,3,1,75,230,28.744889,2
2,70003,jAzB2f,2,4/12/2017 11:10,3,1,2,2,1,4,4,4,3,3,2,1,2,2,2,2,4/12/2017 11:14,2,2,2,1,2,2,2,3,3,2,2,2,2,2,3,2,1,2,3,3,2,2,1,2,3,4,2,2,4,...,2,2,4/12/2017 13:00,5,5,3,1,2,3,2,3,5,4,2,4/12/2017 13:01,1991,2,9,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2,7,1,2,NaN,26,2,66,122,19.689164,2
3,70004,NaN,2,4/18/2017 17:43,1,1,1,1,2,4,4,3,3,4,2,1,4,1,2,2,4/18/2017 17:47,1,4,2,1,1,1,1,3,1,4,1,1,1,2,3,2,2,2,3,1,3,2,1,4,2,2,1,4,1,...,1,2,4/18/2017 19:04,4,2,4,4,4,4,4,4,4,4,2,4/18/2017 19:06,1989,1,8,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,2,1,2,NaN,17,2,65,275,45.757396,2
4,70005,Eaw6e8,2,4/11/2017 15:08,2,2,1,1,2,4,4,4,3,4,2,1,3,1,1,2,4/11/2017 15:12,2,4,1,1,1,3,1,4,1,4,1,1,2,4,2,2,2,3,2,2,2,1,NaN,4,NaN,1,2,NaN,4,...,1,2,4/11/2017 16:04,4,5,3,4,5,4,1,5,3,2,2,4/11/2017 16:05,1992,2,8,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,1,1,9,NaN,1,66,175,28.242654,2
5,70006,M9jgRT,2,4/13/2017 15:12,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4/13/2017 15:17,3,4,1,1,1,3,2,3,3,3,2,2,2,3,1,2,NaN,2,1,1,1,1,1,3,1,2,2,3,1,...,2,2,4/13/2017 16:28,2,4,4,4,4,4,2,4,2,4,2,4/13/2017 16:30,1989,1,8,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,4,1,2,NaN,5,2,60,160,31.244444,2
6,70007,NaN,2,4/25/2017 9:26,2,2,2,2,1,1,4,3,3,4,4,3,2,3,2,2,4/25/2017 9:31,3,4,2,1,1,3,4,4,2,2,3,2,1,4,1,3,3,3,2,3,3,2,2,4,2,2,1,4,1,...,1,2,4/25/2017 11:09,4,4,2,5,2,4,NaN,4,2,5,2,4/25/2017 11:10,1991,1,9,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,2,2,2,2,NaN,20,1,70,145,20.803061,2
7,70008,E5eSWq,2,5/8/2017 15:09,2,2,2,2,2,4,4,4,4,3,2,1,3,2,1,2,5/8/2017 15:16,3,4,1,1,2,3,2,3,1,4,2,2,1,4,4,2,2,4,2,2,2,2,2,4,1,2,2,4,2,...,2,2,5/8/2017 17:11,2,4,1,5,1,5,1,4,2,5,2,5/8/2017 17:14,1954,2,8,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,2,2,NaN,24,1,63,170,30.110859,2
8,70009,cvC2Ka,2,4/27/2017 17:27,2,2,1,1,2,3,3,3,3,3,1,2,4,2,1,2,4/27/2017 17:30,2,3,1,3,1,3,2,4,3,4,3,3,2,4,2,1,4,3,3,1,2,4,1,3,2,4,1,4,1,...,2,2,4/27/2017 19:14,3,3,3,3,1,4,2,2,2,5,2,4/27/2017 19:15,1956,1,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,2,2,NaN,5,1,74,203,26.060811,2
9,70010,NaN,2,5/3/2017 11:16,2,2,1,2,2,3,4,4,4,4,2,2,3,1,1,2,5/3/2017 11:21,2,4,2,1,1,1,3,2,2,3,3,1,1,3,3,2,2,2,4,3,4,2,1,2,3,2,1,3,4,...,2,2,5/3/2017 12:33,4,4,2,2,2,4,4,4,2,2,2,5/3/2017 12:35,1955,2,8,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,2,7,2,2,NaN,33,1,64,125,21.453857,2
10,70011,NaN,2,5/3/2017 9:11,1,2,2,2,2,4,3,4,4,4,1,1,3,2,2,2,5/3/2017 9:15,1,3,2,2,2,1,3,3,2,3,3,1,2,2,1,1,2,2,4,2,4,1,2,3,3,2,1,3,3,...,1,2,5/3/2017 10:54,5,3,2,3,4,1,4,5,2,2,2,5/3/2017 10:56,1953,2,8,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,1,2,NaN,29,2,67,275,43.066384,2
11,70012,NaN,2,5/11/2017 17:04,2,2,1,1,1,3,3,3,3,3,1,1,4,1,1,2,5/11/2017 17:09,3,4,1,1,2,3,3,4,1,4,2,1,2,4,1,1,3,4,2,1,3,1,2,4,2,1,2,4,4,...,1,2,5/11/2017 18:51,4,5,2,5,2,4,2,5,1,NaN,2,5/11/2017 18:52,NaN,2,9,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,2,2,NaN,33,1,62,135,24.689126,2
12,70013,NaN,2,4/27/2017 15:13,2,2,2,3,3,4,3,4,2,2,3,3,1,3,3,2,4/27/2017 15:20,3,2,3,2,3,1,2,3,3,2,2,3,3,3,2,2,3,3,3,4,3,3,2,3,3,3,4,2,NaN,...,2,2,4/27/2017 17:11,2,5,3,4,4,4,3,4,4,2,2,4/27/2017 17:12,1955,2,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,2,2,NaN,4,1,64,143,24.543213,2
13,70014,ksJM3Y,2,6/8/2017 14:41,1,2,2,2,1,3,4,4,3,3,3,3,2,3,2,2,6/8/2017 14:43,1,4,3,2,2,4,3,3,1,3,2,2,2,4,1,2,2,2,3,3,1,2,1,3,2,1,1,4,2,...,NaN,0,6/8/2017 16:19,5,5,4,4,3,2,3,4,2,3,2,6/8/2017 16:19,1990,1,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,3,1,1,NaN,1,74,190,24.391892,2
14,70015,gSWn9N,2,6/1/2017 15:45,1,2,2,3,2,4,4,4,4,4,2,2,3,2,2,2,6/1/2017 15:49,1,3,2,2,2,3,4,3,3,4,2,3,1,2,1,1,2,3,3,2,2,2,1,4,2,1,2,3,4,...,NaN,0,6/1/2017 17:23,4,5,2,4,3,4,2,5,4,5,2,6/1/2017 17:24,1986,2,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,1,2,NaN,3,2,62,135,24.689126,2
15,70017,4chdWY,2,6/6/2017 13:02,2,2,1,1,1,3,3,3,4,4,1,1,3,1,1,2,6/6/2017 13:09,2,3,1,2,2,3,1,3,1,4,2,2,2,3,1,3,3,3,2,2,2,2,1,3,1,2,2,3,1,...,NaN,0,6/6/2017 15:08,2,5,2,4,1,5,2,5,4,5,2,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
16,70018,uS9Yn3,2,6/2/2017 14:12,2,2,2,2,2,4,4,3,3,3,2,2,3,2,2,2,6/2/2017 14:16,2,3,2,1,1,3,1,4,1,4,3,1,1,4,1,2,1,4,3,2,2,1,1,3,2,2,1,3,3,...,NaN,0,6/2/2017 15:28,3,4,2,2,2,4,2,4,4,4,2,6/2/2017 15:29,1988,2,10,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,2,7,2,1,6,NaN,1,63,128,22.671706,2
17,70019,tKr2P3,2,6/14/2017 15:15,1,2,1,2,2,4,4,3,4,4,2,2,3,2,2,2,6/14/2017 15:22,1,3,2,1,1,3,2,4,2,2,3,1,1,3,2,1,1,3,3,2,3,2,1,3,2,3,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,70021,GpRu74,2,6/1/2017 16:21,2,2,1,1,1,3,3,3,3,3,1,1,3,1,1,2,6/1/2017 16:25,3,3,2,1,2,3,2,4,1,3,2,1,2,4,3,2,1,4,4,2,3,1,2,3,2,1,1,4,1,...,NaN,0,6/1/2017 18:16,4,5,1,3,4,5,2,5,4,4,2,6/1/2017 18:18,1984,1,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,7,2,2,NaN,5,1,72,200,27.121914,2
19,70022,Dwr9Wq,2,6/5/2017 9:05,1,1,1,2,2,4,3,4,3,3,2,2,2,2,2,2,6/5/2017 9:08,2,3,2,1,1,1,1,3,3,2,2,2,2,2,2,1,2,2,2,3,2,2,2,3,2,2,2,2,3,...,NaN,0,6/5/2017 10:12,5,5,2,5,4,5,3,5,5,5,2,6/5/2017 10:13,1984,1,10,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2,3,1,2,NaN,30,2,65,198,32.945325,2

In [10]:
os.chdir('/home/wraikes/Programming/Partnership/dmt/merged_data/')
block_merge.to_csv('FINAL_REDCAP.csv')

In [26]:
block_merge['REDCAP_block1_-_external_id'][block_merge['REDCAP_block1_-_external_id'] == 'V9Yycg']

33    V9Yycg
Name: REDCAP_block1_-_external_id, dtype: object

In [27]:
for col, x in zip(block_merge.columns, block_merge.loc[33]):
    print(col, x)

internal_id 70038
REDCAP_block1_-_external_id V9Yycg
REDCAP_block1_-_pid_complete 2
REDCAP_block1_-_bis15_timestamp 6/13/2017 16:02
REDCAP_block1_-_bis1 1
REDCAP_block1_-_bis2 1
REDCAP_block1_-_bis3 1
REDCAP_block1_-_bis4 2
REDCAP_block1_-_bis5 2
REDCAP_block1_-_bis6 3.0
REDCAP_block1_-_bis7 3
REDCAP_block1_-_bis8 2
REDCAP_block1_-_bis9 2.0
REDCAP_block1_-_bis10 3
REDCAP_block1_-_bis11 1
REDCAP_block1_-_bis12 1.0
REDCAP_block1_-_bis13 3
REDCAP_block1_-_bis14 2
REDCAP_block1_-_bis15 2
REDCAP_block1_-_bis15_complete 2
REDCAP_block1_-_upps_timestamp 6/13/2017 16:06
REDCAP_block1_-_upps1 1.0
REDCAP_block1_-_upps2 4
REDCAP_block1_-_upps3 2
REDCAP_block1_-_upps4 1
REDCAP_block1_-_upps5 2.0
REDCAP_block1_-_upps6 2
REDCAP_block1_-_upps7 4
REDCAP_block1_-_upps8 3
REDCAP_block1_-_upps9 2
REDCAP_block1_-_upps10 3.0
REDCAP_block1_-_upps11 3
REDCAP_block1_-_upps12 1.0
REDCAP_block1_-_upps13 1
REDCAP_block1_-_upps14 2.0
REDCAP_block1_-_upps15 2
REDCAP_block1_-_upps16 2
REDCAP_block1_-_upps17 3.0
REDCAP_block1_-_upps18 2
REDCAP_block1_-_upps19 2.0
REDCAP_block1_-_upps20 2
REDCAP_block1_-_upps21 1
REDCAP_block1_-_upps22 1.0
REDCAP_block1_-_upps23 1.0
REDCAP_block1_-_upps24 3
REDCAP_block1_-_upps25 2.0
REDCAP_block1_-_upps26 2.0
REDCAP_block1_-_upps27 2.0
REDCAP_block1_-_upps28 3.0
REDCAP_block1_-_upps29 2.0
REDCAP_block1_-_upps30 1.0
REDCAP_block1_-_upps31 1.0
REDCAP_block1_-_upps32 4
REDCAP_block1_-_upps33 2
REDCAP_block1_-_upps34 1
REDCAP_block1_-_upps35 2.0
REDCAP_block1_-_upps36 2
REDCAP_block1_-_upps37 1
REDCAP_block1_-_upps38 2.0
REDCAP_block1_-_upps39 2
REDCAP_block1_-_upps40 3
REDCAP_block1_-_upps41 2
REDCAP_block1_-_upps42 1
REDCAP_block1_-_upps43 2.0
REDCAP_block1_-_upps44 1
REDCAP_block1_-_upps45 2
REDCAP_block1_-_upps_complete 2
REDCAP_block1_-_memory_failures_scale_mfs_timestamp nan
REDCAP_block1_-_mfs1 nan
REDCAP_block1_-_mfs2 nan
REDCAP_block1_-_mfs3 nan
REDCAP_block1_-_mfs4 nan
REDCAP_block1_-_mfs5 nan
REDCAP_block1_-_mfs6 nan
REDCAP_block1_-_mfs7 nan
REDCAP_block1_-_mfs8 nan
REDCAP_block1_-_mfs9 nan
REDCAP_block1_-_mfs10 nan
REDCAP_block1_-_mfs11 nan
REDCAP_block1_-_mfs12 nan
REDCAP_block1_-_memory_failures_scale_mfs_complete 0
REDCAP_block1_-_online_and_offline_coping_measures_timestamp nan
REDCAP_block1_-_ooc1 nan
REDCAP_block1_-_ooc2 nan
REDCAP_block1_-_ooc3 nan
REDCAP_block1_-_ooc4 nan
REDCAP_block1_-_ooc5 nan
REDCAP_block1_-_ooc6 nan
REDCAP_block1_-_ooc7 nan
REDCAP_block1_-_ooc8 nan
REDCAP_block1_-_ooc9 nan
REDCAP_block1_-_ooc10 nan
REDCAP_block1_-_ooc11 nan
REDCAP_block1_-_ooc12 nan
REDCAP_block1_-_ooc13 nan
REDCAP_block1_-_ooc14 nan
REDCAP_block1_-_ooc15 nan
REDCAP_block1_-_ooc16 nan
REDCAP_block1_-_ooc17 nan
REDCAP_block1_-_ooc18 nan
REDCAP_block1_-_ooc19 nan
REDCAP_block1_-_ooc20 nan
REDCAP_block1_-_ooc21 nan
REDCAP_block1_-_ooc22 nan
REDCAP_block1_-_ooc23 nan
REDCAP_block1_-_ooc24 nan
REDCAP_block1_-_ooc25 nan
REDCAP_block1_-_ooc26 nan
REDCAP_block1_-_ooc27 nan
REDCAP_block1_-_ooc28 nan
REDCAP_block1_-_online_and_offline_coping_measures_complete 0
REDCAP_block1_-_health_behavior_inventory_modified_timestamp 6/13/2017 16:07
REDCAP_block1_-_hbi1 3
REDCAP_block1_-_hbi2 3.0
REDCAP_block1_-_hbi3 6
REDCAP_block1_-_hbi4 2.0
REDCAP_block1_-_hbi5 6
REDCAP_block1_-_hbi6 6.0
REDCAP_block1_-_hbi7 6.0
REDCAP_block1_-_hbi8 6.0
REDCAP_block1_-_hbi9 5
REDCAP_block1_-_hbi10 7
REDCAP_block1_-_health_behavior_inventory_modified_complete 2
REDCAP_block1_-_fomoequityworth_timestamp 6/13/2017 16:11
REDCAP_block1_-_fomo1 7.0
REDCAP_block1_-_fomo2 9.0
REDCAP_block1_-_fomo3 4.0
REDCAP_block1_-_fomo4 9.0
REDCAP_block1_-_fomo5 9.0
REDCAP_block1_-_fomo6 9.0
REDCAP_block1_-_fomo7 9.0
REDCAP_block1_-_fomo8 5.0
REDCAP_block1_-_fomo9 9.0
REDCAP_block1_-_fomo10 5.0
REDCAP_block1_-_fomo11 9.0
REDCAP_block1_-_fomo12 9.0
REDCAP_block1_-_fomo13 7.0
REDCAP_block1_-_fomo14 8.0
REDCAP_block1_-_fomo15 4.0
REDCAP_block1_-_fomo16 7.0
REDCAP_block1_-_fomo17 10.0
REDCAP_block1_-_fomo18 9.0
REDCAP_block1_-_fomo19 7.0
REDCAP_block1_-_fomo20 5.0
REDCAP_block1_-_fomo21 4.0
REDCAP_block1_-_fomo22 10.0
REDCAP_block1_-_fomo23 8.0
REDCAP_block1_-_fomo24 4.0
REDCAP_block1_-_equity1 5.0
REDCAP_block1_-_equity2 9.0
REDCAP_block1_-_equity3 9.0
REDCAP_block1_-_equity4 7.0
REDCAP_block1_-_equity5 8.0
REDCAP_block1_-_behavior_change 7.0
REDCAP_block1_-_worth1 2.0
REDCAP_block1_-_worth2 2.0
REDCAP_block1_-_worth3 3.0
REDCAP_block1_-_worth4 3.0
REDCAP_block1_-_fomoequityworth_complete 2
REDCAP_block1_-_insomnia_severity_index_timestamp 6/13/2017 16:11
REDCAP_block1_-_isi1 1.0
REDCAP_block1_-_isi2 3.0
REDCAP_block1_-_isi3 1.0
REDCAP_block1_-_isi4 3.0
REDCAP_block1_-_isi5 4.0
REDCAP_block1_-_insomnia_severity_index_complete 2
REDCAP_block1_-_modified_online_cognition_scale_timestamp 6/13/2017 16:12
REDCAP_block1_-_mocs1 2.0
REDCAP_block1_-_mocs2 2.0
REDCAP_block1_-_mocs3 2.0
REDCAP_block1_-_mocs4 2.0
REDCAP_block1_-_mocs5 2.0
REDCAP_block1_-_mocs6 7.0
REDCAP_block1_-_mocs7 5.0
REDCAP_block1_-_mocs8 2.0
REDCAP_block1_-_mocs9 2.0
REDCAP_block1_-_modified_online_cognition_scale_complete 2
REDCAP_block1_-_tendency_to_forgive_scale_ttf_timestamp nan
REDCAP_block1_-_ttf1 nan
REDCAP_block1_-_ttf2 nan
REDCAP_block1_-_ttf3 nan
REDCAP_block1_-_ttf4 nan
REDCAP_block1_-_ttf5 nan
REDCAP_block1_-_ttf6 nan
REDCAP_block1_-_ttf7 nan
REDCAP_block1_-_ttf8 nan
REDCAP_block1_-_ttf9 nan
REDCAP_block1_-_ttf10 nan
REDCAP_block1_-_tendency_to_forgive_scale_ttf_complete 0
REDCAP_block1_-_tendency_to_forgive_scale_ttf_short_timestamp 6/13/2017 16:13
REDCAP_block1_-_ttf1a 1.0
REDCAP_block1_-_ttf4a 2.0
REDCAP_block1_-_ttf6a 2.0
REDCAP_block1_-_tendency_to_forgive_scale_ttf_short_complete 2
REDCAP_block1_-_five_facet_mindfulness_questionnaire_ffmq_timestamp 6/13/2017 16:17
REDCAP_block1_-_ffmq1 4.0
REDCAP_block1_-_ffmq2 4.0
REDCAP_block1_-_ffmq3 3.0
REDCAP_block1_-_ffmq4 4.0
REDCAP_block1_-_ffmq5 2.0
REDCAP_block1_-_ffmq6 3.0
REDCAP_block1_-_ffmq7 4.0
REDCAP_block1_-_ffmq8 2.0
REDCAP_block1_-_ffmq9 4.0
REDCAP_block1_-_ffmq10 4.0
REDCAP_block1_-_ffmq11 4.0
REDCAP_block1_-_ffmq12 2.0
REDCAP_block1_-_ffmq13 2.0
REDCAP_block1_-_ffmq14 3.0
REDCAP_block1_-_ffmq15 5.0
REDCAP_block1_-_ffmq16 3.0
REDCAP_block1_-_ffmq17 4.0
REDCAP_block1_-_ffmq18 2.0
REDCAP_block1_-_ffmq19 3.0
REDCAP_block1_-_ffmq20 5.0
REDCAP_block1_-_ffmq21 4.0
REDCAP_block1_-_ffmq22 2.0
REDCAP_block1_-_ffmq23 2.0
REDCAP_block1_-_ffmq24 3.0
REDCAP_block1_-_ffmq25 3.0
REDCAP_block1_-_ffmq26 4.0
REDCAP_block1_-_ffmq27 3.0
REDCAP_block1_-_ffmq28 3.0
REDCAP_block1_-_ffmq29 3.0
REDCAP_block1_-_ffmq30 3.0
REDCAP_block1_-_ffmq31 4.0
REDCAP_block1_-_ffmq32 4.0
REDCAP_block1_-_ffmq33 3.0
REDCAP_block1_-_ffmq34 2.0
REDCAP_block1_-_ffmq35 3.0
REDCAP_block1_-_ffmq36 4.0
REDCAP_block1_-_ffmq37 4.0
REDCAP_block1_-_ffmq38 2.0
REDCAP_block1_-_ffmq39 2.0
REDCAP_block1_-_five_facet_mindfulness_questionnaire_ffmq_complete 2
REDCAP_block1_-_behaviors_timestamp 6/13/2017 16:24
REDCAP_block1_-_beh1 6.0
REDCAP_block1_-_beh2 4.0
REDCAP_block1_-_beh3 6.0
REDCAP_block1_-_beh4 8.0
REDCAP_block1_-_beh5 8.0
REDCAP_block1_-_beh6 8.0
REDCAP_block1_-_beh7 7.0
REDCAP_block1_-_beh8 7.0
REDCAP_block1_-_beh9 8.0
REDCAP_block1_-_beh10 5.0
REDCAP_block1_-_beh11 2.0
REDCAP_block1_-_beh12 2.0
REDCAP_block1_-_beh13 5.0
REDCAP_block1_-_beh14 1.0
REDCAP_block1_-_beh15 1.0
REDCAP_block1_-_beh16 1.0
REDCAP_block1_-_beh17 1.0
REDCAP_block1_-_beh18 8.0
REDCAP_block1_-_beh19 4.0
REDCAP_block1_-_beh20 7.0
REDCAP_block1_-_beh21 5.0
REDCAP_block1_-_beh22 8.0
REDCAP_block1_-_beh23 2.0
REDCAP_block1_-_beh24 8.0
REDCAP_block1_-_beh25 1.0
REDCAP_block1_-_beh26 8.0
REDCAP_block1_-_beh27 1.0
REDCAP_block1_-_beh28 8.0
REDCAP_block1_-_beh29 4.0
REDCAP_block1_-_beh30 2.0
REDCAP_block1_-_beh31 2.0
REDCAP_block1_-_beh32 4.0
REDCAP_block1_-_beh33 1.0
REDCAP_block1_-_beh34 1.0
REDCAP_block1_-_beh35 1.0
REDCAP_block1_-_beh36 3.0
REDCAP_block1_-_beh37 6.0
REDCAP_block1_-_beh38 4.0
REDCAP_block1_-_beh39 3.0
REDCAP_block1_-_beh40 4.0
REDCAP_block1_-_beh41 2.0
REDCAP_block1_-_beh42 7.0
REDCAP_block1_-_beh43 2.0
REDCAP_block1_-_beh44 2.0
REDCAP_block1_-_beh_top3___1 1
REDCAP_block1_-_beh_top3___2 0
REDCAP_block1_-_beh_top3___3 1
REDCAP_block1_-_beh_top3___4 0
REDCAP_block1_-_beh_top3___5 0
REDCAP_block1_-_beh_top3___6 0
REDCAP_block1_-_beh_top3___7 0
REDCAP_block1_-_beh_top3___8 0
REDCAP_block1_-_beh_top3___9 0
REDCAP_block1_-_beh_top3___10 0
REDCAP_block1_-_beh_top3___11 1
REDCAP_block1_-_beh_top3___12 0
REDCAP_block1_-_beh_top3___13 0
REDCAP_block1_-_beh_top3___14 0
REDCAP_block1_-_beh_top3___15 0
REDCAP_block1_-_beh_top3___16 0
REDCAP_block1_-_beh_top3___17 0
REDCAP_block1_-_beh_top3___18 0
REDCAP_block1_-_beh_top3___19 0
REDCAP_block1_-_beh_top3___20 0
REDCAP_block1_-_beh_top3___21 0
REDCAP_block1_-_beh_top3___22 0
REDCAP_block1_-_beh_top3___23 0
REDCAP_block1_-_beh_top3___24 0
REDCAP_block1_-_beh_top3___25 0
REDCAP_block1_-_beh_top3___26 0
REDCAP_block1_-_beh_top3___27 0
REDCAP_block1_-_beh_top3___28 0
REDCAP_block1_-_beh_top3___29 0
REDCAP_block1_-_beh_top3___30 0
REDCAP_block1_-_beh_top3___31 0
REDCAP_block1_-_beh_top3___32 0
REDCAP_block1_-_beh_top3___33 0
REDCAP_block1_-_beh_top3___34 0
REDCAP_block1_-_beh_top3___35 0
REDCAP_block1_-_beh_top3___36 0
REDCAP_block1_-_beh_top3___37 0
REDCAP_block1_-_beh_top3___38 1
REDCAP_block1_-_beh_top3___39 0
REDCAP_block1_-_beh_top3___40 0
REDCAP_block1_-_beh_top3___41 0
REDCAP_block1_-_beh_top3___42 0
REDCAP_block1_-_beh_top3___43 0
REDCAP_block1_-_beh_top3___44 0
REDCAP_block1_-_beh_top1 1.0
REDCAP_block1_-_beh_change1 10.0
REDCAP_block1_-_beh_change2 9.0
REDCAP_block1_-_beh_change3 9.0
REDCAP_block1_-_beh_change4 10.0
REDCAP_block1_-_beh_change5 9.0
REDCAP_block1_-_beh_change6 1.0
REDCAP_block1_-_beh_change7 0.0
REDCAP_block1_-_beh_change8 nan
REDCAP_block1_-_beh_change9 10.0
REDCAP_block1_-_beh_change10 5.0
REDCAP_block1_-_beh_change11 10.0
REDCAP_block1_-_beh_change12 weight watchers, team in training - marathon training, while under doctor's care
REDCAP_block1_-_beh_change13 3.0
REDCAP_block1_-_behaviors_complete 2
REDCAP_block2_-_external_id V9Yycg
REDCAP_block2_-_pid_complete 2.0
REDCAP_block2_-_grit_scale_timestamp nan
REDCAP_block2_-_grit1 nan
REDCAP_block2_-_grit2 nan
REDCAP_block2_-_grit3 nan
REDCAP_block2_-_grit4 nan
REDCAP_block2_-_grit5 nan
REDCAP_block2_-_grit6 nan
REDCAP_block2_-_grit7 nan
REDCAP_block2_-_grit8 nan
REDCAP_block2_-_grit9 nan
REDCAP_block2_-_grit10 nan
REDCAP_block2_-_grit11 nan
REDCAP_block2_-_grit12 nan
REDCAP_block2_-_grit_scale_complete 0.0
REDCAP_block2_-_scs_timestamp 6/13/2017 17:46
REDCAP_block2_-_scs1 3.0
REDCAP_block2_-_scs2 5.0
REDCAP_block2_-_scs3 5.0
REDCAP_block2_-_scs4 3.0
REDCAP_block2_-_scs5 2.0
REDCAP_block2_-_scs6 3.0
REDCAP_block2_-_scs7 5.0
REDCAP_block2_-_scs8 3.0
REDCAP_block2_-_scs9 4.0
REDCAP_block2_-_scs10 5.0
REDCAP_block2_-_scs_complete 2.0
REDCAP_block2_-_yale_food_addiction_scale_yfas_timestamp nan
REDCAP_block2_-_yfas1 nan
REDCAP_block2_-_yfas2 nan
REDCAP_block2_-_yfas3 nan
REDCAP_block2_-_yfas4 nan
REDCAP_block2_-_yfas5 nan
REDCAP_block2_-_yfas6 nan
REDCAP_block2_-_yfas7 nan
REDCAP_block2_-_yfas8 nan
REDCAP_block2_-_yfas9 nan
REDCAP_block2_-_yfas10 nan
REDCAP_block2_-_yfas11 nan
REDCAP_block2_-_yfas12 nan
REDCAP_block2_-_yfas13 nan
REDCAP_block2_-_yfas14 nan
REDCAP_block2_-_yfas15 nan
REDCAP_block2_-_yfas16 nan
REDCAP_block2_-_yfas17 nan
REDCAP_block2_-_yfas18 nan
REDCAP_block2_-_yfas19 nan
REDCAP_block2_-_yfas20 nan
REDCAP_block2_-_yfas21 nan
REDCAP_block2_-_yfas22 nan
REDCAP_block2_-_yfas23 nan
REDCAP_block2_-_yfas24 nan
REDCAP_block2_-_yfas25 nan
REDCAP_block2_-_yale_food_addiction_scale_yfas_complete 0.0
REDCAP_block2_-_yale_food_addiction_scale_yfas_short_timestamp 6/13/2017 17:47
REDCAP_block2_-_yfas1a 4.0
REDCAP_block2_-_yfas2a 4.0
REDCAP_block2_-_yfas15a 3.0
REDCAP_block2_-_yfas16a 3.0
REDCAP_block2_-_yale_food_addiction_scale_yfas_short_complete 2.0
REDCAP_block2_-_phq9bsi_timestamp 6/13/2017 17:49
REDCAP_block2_-_phq1 1.0
REDCAP_block2_-_phq2 2.0
REDCAP_block2_-_phq3 2.0
REDCAP_block2_-_phq4 3.0
REDCAP_block2_-_phq5 3.0
REDCAP_block2_-_phq6 2.0
REDCAP_block2_-_phq7 1.0
REDCAP_block2_-_phq8 1.0
REDCAP_block2_-_phq9 1.0
REDCAP_block2_-_phq10 2.0
REDCAP_block2_-_bsi1 3.0
REDCAP_block2_-_bsi2 4.0
REDCAP_block2_-_bsi3 3.0
REDCAP_block2_-_phq9bsi_complete 2.0
REDCAP_block2_-_cidi_timestamp 6/13/2017 17:53
REDCAP_block2_-_cidi1 3.0
REDCAP_block2_-_cidi2 5.0
REDCAP_block2_-_cidi3 4.0
REDCAP_block2_-_cidi4 3.0
REDCAP_block2_-_cidi5 1.0
REDCAP_block2_-_cidi6 2.0
REDCAP_block2_-_cidi7 2.0
REDCAP_block2_-_cidi8 2.0
REDCAP_block2_-_cidi9 2.0
REDCAP_block2_-_cidi10 1.0
REDCAP_block2_-_cidi11 1.0
REDCAP_block2_-_cidi12 2.0
REDCAP_block2_-_cidi13 2.0
REDCAP_block2_-_cidi14 1.0
REDCAP_block2_-_cidi15 2.0
REDCAP_block2_-_cidi16 1.0
REDCAP_block2_-_cidi17 1.0
REDCAP_block2_-_cidi18 2.0
REDCAP_block2_-_cidi25 2.0
REDCAP_block2_-_cidi26 2.0
REDCAP_block2_-_cidi27 2.0
REDCAP_block2_-_cidi28 2.0
REDCAP_block2_-_cidi29 2.0
REDCAP_block2_-_cidi30 2.0
REDCAP_block2_-_cidi31 2.0
REDCAP_block2_-_cidi32 2.0
REDCAP_block2_-_cidi33 2.0
REDCAP_block2_-_cidi34 2.0
REDCAP_block2_-_cidi35 2.0
REDCAP_block2_-_cidi_complete 2.0
REDCAP_block2_-_pump_timestamp 6/13/2017 17:56
REDCAP_block2_-_pump1 3.0
REDCAP_block2_-_pump2 1.0
REDCAP_block2_-_pump3 1.0
REDCAP_block2_-_pump4 1.0
REDCAP_block2_-_pump5 2.0
REDCAP_block2_-_pump6 1.0
REDCAP_block2_-_pump7 1.0
REDCAP_block2_-_pump8 1.0
REDCAP_block2_-_pump9 4.0
REDCAP_block2_-_pump10 2.0
REDCAP_block2_-_pump11 1.0
REDCAP_block2_-_pump12 2.0
REDCAP_block2_-_pump13 2.0
REDCAP_block2_-_pump14 1.0
REDCAP_block2_-_pump15 1.0
REDCAP_block2_-_pump16 4.0
REDCAP_block2_-_pump17 3.0
REDCAP_block2_-_pump18 2.0
REDCAP_block2_-_pump19 1.0
REDCAP_block2_-_pump20 1.0
REDCAP_block2_-_pump_complete 2.0
REDCAP_block2_-_briefa_timestamp nan
REDCAP_block2_-_brief1 nan
REDCAP_block2_-_brief2 nan
REDCAP_block2_-_brief3 nan
REDCAP_block2_-_brief4 nan
REDCAP_block2_-_brief5 nan
REDCAP_block2_-_brief6 nan
REDCAP_block2_-_brief7 nan
REDCAP_block2_-_brief8 nan
REDCAP_block2_-_brief9 nan
REDCAP_block2_-_brief10 nan
REDCAP_block2_-_brief11 nan
REDCAP_block2_-_brief12 nan
REDCAP_block2_-_brief13 nan
REDCAP_block2_-_brief14 nan
REDCAP_block2_-_brief15 nan
REDCAP_block2_-_brief16 nan
REDCAP_block2_-_brief17 nan
REDCAP_block2_-_brief18 nan
REDCAP_block2_-_brief19 nan
REDCAP_block2_-_brief20 nan
REDCAP_block2_-_brief21 nan
REDCAP_block2_-_brief22 nan
REDCAP_block2_-_brief23 nan
REDCAP_block2_-_brief24 nan
REDCAP_block2_-_brief25 nan
REDCAP_block2_-_brief26 nan
REDCAP_block2_-_brief27 nan
REDCAP_block2_-_brief28 nan
REDCAP_block2_-_brief29 nan
REDCAP_block2_-_brief30 nan
REDCAP_block2_-_brief31 nan
REDCAP_block2_-_brief32 nan
REDCAP_block2_-_brief33 nan
REDCAP_block2_-_brief34 nan
REDCAP_block2_-_brief35 nan
REDCAP_block2_-_brief36 nan
REDCAP_block2_-_brief37 nan
REDCAP_block2_-_brief38 nan
REDCAP_block2_-_brief39 nan
REDCAP_block2_-_brief40 nan
REDCAP_block2_-_brief41 nan
REDCAP_block2_-_brief42 nan
REDCAP_block2_-_brief43 nan
REDCAP_block2_-_brief44 nan
REDCAP_block2_-_brief45 nan
REDCAP_block2_-_brief46 nan
REDCAP_block2_-_brief47 nan
REDCAP_block2_-_brief48 nan
REDCAP_block2_-_brief49 nan
REDCAP_block2_-_brief50 nan
REDCAP_block2_-_brief51 nan
REDCAP_block2_-_brief52 nan
REDCAP_block2_-_brief53 nan
REDCAP_block2_-_brief54 nan
REDCAP_block2_-_brief55 nan
REDCAP_block2_-_brief56 nan
REDCAP_block2_-_brief57 nan
REDCAP_block2_-_brief58 nan
REDCAP_block2_-_brief59 nan
REDCAP_block2_-_brief60 nan
REDCAP_block2_-_brief61 nan
REDCAP_block2_-_brief62 nan
REDCAP_block2_-_brief63 nan
REDCAP_block2_-_brief64 nan
REDCAP_block2_-_brief65 nan
REDCAP_block2_-_brief66 nan
REDCAP_block2_-_brief67 nan
REDCAP_block2_-_brief68 nan
REDCAP_block2_-_brief69 nan
REDCAP_block2_-_brief70 nan
REDCAP_block2_-_brief71 nan
REDCAP_block2_-_brief72 nan
REDCAP_block2_-_brief73 nan
REDCAP_block2_-_brief74 nan
REDCAP_block2_-_brief75 nan
REDCAP_block2_-_briefa_complete 0.0
REDCAP_block2_-_bfi10_timestamp 6/13/2017 17:56
REDCAP_block2_-_bfi1 5.0
REDCAP_block2_-_bfi2 4.0
REDCAP_block2_-_bfi3 3.0
REDCAP_block2_-_bfi4 4.0
REDCAP_block2_-_bfi5 2.0
REDCAP_block2_-_bfi6 3.0
REDCAP_block2_-_bfi7 3.0
REDCAP_block2_-_bfi8 5.0
REDCAP_block2_-_bfi9 2.0
REDCAP_block2_-_bfi10 4.0
REDCAP_block2_-_bfi10_complete 2.0
REDCAP_block2_-_demographic_questionnaire_timestamp 6/13/2017 17:58
REDCAP_block2_-_dob 1965.0
REDCAP_block2_-_gender 2.0
REDCAP_block2_-_education 7.0
REDCAP_block2_-_employment___1 1.0
REDCAP_block2_-_employment___2 0.0
REDCAP_block2_-_employment___3 0.0
REDCAP_block2_-_employment___4 0.0
REDCAP_block2_-_employment___5 0.0
REDCAP_block2_-_employment___6 0.0
REDCAP_block2_-_employment___7 0.0
REDCAP_block2_-_employment___8 0.0
REDCAP_block2_-_employment___9 0.0
REDCAP_block2_-_employment___10 0.0
REDCAP_block2_-_income___1 1.0
REDCAP_block2_-_income___2 0.0
REDCAP_block2_-_income___3 0.0
REDCAP_block2_-_income___4 0.0
REDCAP_block2_-_income___5 0.0
REDCAP_block2_-_income___6 0.0
REDCAP_block2_-_income___7 0.0
REDCAP_block2_-_income___8 0.0
REDCAP_block2_-_income___9 0.0
REDCAP_block2_-_income___10 0.0
REDCAP_block2_-_income___11 0.0
REDCAP_block2_-_hispanic 2.0
REDCAP_block2_-_race 7.0
REDCAP_block2_-_relationship 1.0
REDCAP_block2_-_address 2.0
REDCAP_block2_-_address_months nan
REDCAP_block2_-_address_years 18.0
REDCAP_block2_-_marital_living 2.0
REDCAP_block2_-_height 64.0
REDCAP_block2_-_weight 220.0
REDCAP_block2_-_bmi 37.75878906
REDCAP_block2_-_demographic_questionnaire_complete 2.0